<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="zlib" version="1.2.8.1" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.8.1" targetFramework="Native" />
  <package id="libintl" version="0.18.2.8" targetFramework="Native" />
  <package id="libintl.redist" version="0.18.2.8" targetFramework="Native" />
  <package id="libffi" version="3.0.10.3" targetFramework="Native" />
  <package id="libffi.redist" version="3.0.10.3" targetFramework="Native" />
</packages>